.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}


.logo {
	display: inline-block;
	font-weight: 400;
	font-size: 80px;
	line-height: 94px;
	margin-top: 63px;
}

.logo a {
	text-decoration: none;
	color: black;
}

.logo .blue-part {
	color: #0d99ff;
}


.header-nav {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 38px;
	background: #35444F;
}

.header-nav li:first-child {
	border-left: 4px white solid;
}

.header-nav a {
	color: white;
	text-decoration: none;
}

.header-nav .nav-item {
	list-style: none;
	background-color: #35444F;
	font-size: 24px;
	line-height: 28px;
	padding: 22px 38px;
	transition: 0.3s;
	border-right: 4px white solid;
}

.header-nav .nav-item:hover {
	background-color: #0C1927;
}

.main-content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 48px;
	margin-bottom: 20px;
	gap: 52px;
}

aside {
	border: 1px solid gray;
	width: 30%;

}

aside li {
	list-style: none;
	font-weight: 400;
	font-size: 27px;
	line-height: 27px;
	color: #35444F;
	padding: 27px 82px 27px 44px;
	transition: 0.1s;
}

aside li:hover {
	background-color: #DBDBDB;
	padding: 27px 42px 27px 84px;
	color: black;
}


article {
	width: 70%;
}

.banner {
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
	border: black 1px solid;
	margin-bottom: 37px;
}

article img {
	transition: 0.2s;
}

article img:hover {
	transform: scale(1.2);
}

article p {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 34px;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 28px;
	line-height: 28px;
	color: #0C1927;
	background-color: rgba(99, 105, 110, 0.48);
	padding: 21px 40px;
	margin-bottom: 30px;
}


.footer-nav a {
	color: #0C1927;
	text-decoration: none;
	padding-bottom: 5px;
	transition: 0.1s;
}

.nav-links {
	display: flex;
}

.nav-links li {
	padding-right: 20px;
}

.footer-nav a:hover {
	color: #3181A6;
	border-bottom: #3181A6 1px solid;
}